.header {
  border-bottom: 1px solid #eaedef;

  &__logo {
    img {
      @include rem(height, 50px);
      @include rem(margin, -4px 7px -4px 0);
    }
  }
}

.content {
  @include rem(padding-bottom, 65px);
}

.tab-pane {
  .text {
    * {
      font-family: $ff !important;
    }

    .control-label {
      @include rem(font-size, 16px !important);
    }

    .form-group {
      @include rem(font-size, 30px !important);
    }

    a {
      background: transparent !important;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      font-weight: $fw-semi;
    }

    h5, .h5 {
      line-height: 1.67 !important;

      @include rem(font-size, 18px !important);
    }

    h3, .h3 {
      line-height: 1.43 !important;

      @include rem(font-size, 28px !important);
      @include rem(margin-bottom, 18px !important);
    }

    h2, .h2 {
      line-height: 1.25 !important;

      @include rem(font-size, 40px !important);
    }

    h1, .h1 {
      line-height: 1.2 !important;

      @include rem(font-size, 50px !important);
      @include rem(margin-bottom, 20px !important);
    }

    p, ul, ol, li {
      font-weight: normal !important;
      font-style: normal !important;
      font-stretch: normal !important;
      line-height: 1.67 !important;
      color: $secondary !important;

      @include rem(font-size, 18px !important);
      @include rem(margin-bottom, 15px !important);
      @include rem(margin-top, 0 !important);
    }

    ul li:before {
      line-height: normal;
    }
  }
}

@media (max-width: 991px) {
  .navbar-collapse .nav > li.active a.btn {
    color: #fff !important;
  }
}

.section {
  @include rem(padding, 25px 0);

  &--padding {
    @include rem(padding, 70px 0);

    &.section--lead {
      @include rem(padding, 94px 0);
    }
  }

  &--padding_bottom {
    @include rem(padding-bottom, 60px);
  }
}

.section_header {
  border-bottom: 1px solid $border-alt;

  @include clearfix;
  @include rem(margin-bottom, 20px);
  @include rem(padding, 18px 0);

  h1, h2, h3, h4, h5 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .card__actions {
    clear: both;

    @include rem(padding, 19px 0 12px);
  }

  &__link {
    font-weight: $fw-semi;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: $blue;
    line-height: normal;

    @include rem(margin-top, 14px);
    @include rem(font-size, 18px);
  }

  &__tabs {
    @include rem(margin-top, 13px);
    @include rem(margin-bottom, 5px);
  }

  &--assets {
    @include rem(padding, 32px 0);
  }

  @media all and (max-width: $screen-landscape) {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;

    .action_link, .action_text {
      margin-bottom: 10px;
      float: none !important;
      margin-left: 0 !important;
      margin-right: 10px;
    }

    .action_text {
      display: block;
    }

    &__tabs {
      float: none !important;
      margin-bottom: 0;

      .tab_item__link {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.page__title, .page h1.page__title, .page h2.page__title {
  @include rem(margin-bottom, 8px);
}

.modal_valign {
  table-layout: fixed;
}

.modal .close {
  z-index: 110;
}

.page__features,
.page__features.features {
  margin: 0;

  .features__item {
    @include rem(margin-bottom, 80px)
  }
}

.issuer {
  width: 100%;

  &__img,
  &__content {
    display: table-cell;
    vertical-align: middle;
  }

  &__name {
    font-weight: $fw-semi;
    color: $text;
    letter-spacing: 0.2px;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
  }

  &__img {
    vertical-align: top;

    @include rem(width, 62px);
    @include rem(padding-right, 14px);

    img {
      max-width: 100%;
      border-radius: 4px;
      box-shadow: inset 0 0 0 1px rgba($secondary, .1);
    }
  }

  &__content {
    overflow: hidden;
    border-bottom: 1px solid $border-alt;

    @include rem(height, 48px);
  }

  @media all and (max-width: $screen-mobile-tiny) {
    &__img {
      display: none;
    }
  }
}

.table {
  tr {
    td {
      white-space: normal;

      &.td_truncate {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    th {
      text-transform: none;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $blue;
    }
  }

  &__header {
    &--main {
      th {
        padding-bottom: 0 !important;
      }
    }
  }

  &.table--simple {
    @include rem(margin-bottom, 40px);

    tr {
      td, th {
        white-space: normal;
        border-bottom-color: #EBEDEF;

        @include rem(font-size, 18px);
        @include rem(padding, 14px 20px 14px 0)
      }

      th {

      }
    }
  }

  &.table_asstes {
    margin-bottom: 0 !important;

    tr {
      td {
        @include rem(font-size, 16px);
      }

      td, th {
        @include rem(padding, 11px 20px 12px 0)
      }

      th {
        border-bottom: 0;

        @include rem(padding-top, 17px);
        @include rem(padding-bottom, 17px);
      }
    }

    .check {
      float: left;

      @include rem(width, 20px);
      @include rem(height, 20px);
      @include rem(margin-right, 10px);

      &:before {
        @include rem(line-height, 22px);
      }

      + .ticker_name {
        @include rem(padding-left, 30px);
      }
    }

    .ticker_name {
      display: block;
      white-space: normal;

    }

    .issuer__name {
      font-weight: normal;
      white-space: normal;
      word-break: break-all;
      word-break: break-word;

      @include rem(line-height, 24px);
      @include rem(margin-bottom, 4px);
    }

    .text-muted {
      @include rem(font-size, 16px);
    }

    .issuer__img {
      border-bottom: 0 !important;
      border-radius: 4px;
      overflow: hidden;

      @include rem(padding-right, 15px !important);
      @include rem(width, 63px);

      img {
        border-radius: 4px;
        width: 100%;
        box-shadow: inset 0 0 0 1px rgba($secondary, .1);
      }
    }

    @media all and (max-width: $screen-landscape) {
      .issuer__img {
        width: 0 !important;
        padding: 0 !important;
        display: none;

        img, a {
          display: none;
        }
      }

      .issuer__address {
        word-break: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include rem(width, 170px)
      }
    }
  }
}

.assets_list_header {
  @include rem(padding, 0);
  @include rem(margin-bottom, 18px);
  @include rem(margin-top, -20px);
  @include clearfix;

  .check {
    position: relative;

    @include rem(font-size, 13px);
    @include rem(line-height, 22px);
    @include rem(margin-left, 6px);
    @include rem(width, 20px);
    @include rem(height, 20px);
    @include rem(top, -1px);

    &:after,
    &:before {
      display: none;
    }
  }

  .nav_scroll {
    margin-bottom: 0;
    border-bottom-color: $border-alt;
  }

  .nav-tabs {
    margin-bottom: 0 !important;

    > li > a:not(.btn) {
      @include rem(padding, 17px 20px 15px);
    }
  }

  &__tags {
    float: right;
    a {
      color: inherit;
    }

    .assets_list_tag {
      display: inline-block;
      vertical-align: middle;

      @include rem(margin-left, 5px);
      @include rem(padding, 14px 10px);

      &--active {
        font-weight: $fw-semi;

        &:hover {
          color: $secondary !important;
        }
      }

      &:hover {
        color: lighten($secondary, 10%);
      }
    }
  }

  @media all and (min-width: $screen-landscape + 1) {
    &__tags {
      @include rem(margin-right, -8px);
    }
  }

  @media all and (max-width: $screen-landscape) {
    padding-top: 0;

    &__tags {
      float: none;
      overflow: hidden;
      padding-right: 10px;

      .assets_list_tag {
        margin-left: 0;
      }
    }
  }
}

.add_asset_btn {
  @include rem(padding-left, 40px);
  @include rem(padding-right, 40px);

  .icon {
    @include rem(font-size, 26px);
    @include rem(margin, -2px 10px -2px -18px);
  }

  @media all and (max-width: $screen-landscape) {
    padding-left: 10px;
    padding-right: 10px;

    @include rem(width, 50px);
    @include rem(height, 50px);

    .icon {
      margin: -1px 0 0 -1px;
    }
  }
}

.nav_scroll {
  @include rem(height, 60px);
}

.check {
  @include color-modifier(background);
}

.label {
  letter-spacing: .07em;

  &--gray {
    background: #CFD2D7;
    color: #fff;

    &.label--text {
      color: #8C94A0;
    }
  }

  &--text {
    background: transparent !important;
  }
}

.table-responsive {
  margin-bottom: 0;
}

.address_code {
  &__wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    line-height: normal;

    @include rem(padding-right, 36px);
  }

  .copy_code {
    position: absolute;
    right: 0;

    @include rem(top, -3px);
  }

  a, span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }

  a {
    color: inherit;
  }
}

.action_text {
  color: rgba($secondary, .8);
}

.action_link .icon {
  @include rem(font-size, 18px);
  @include rem(margin-right, 10px);
}

.asset_link_list {
  margin: 0;

  @include rem(margin-bottom, 20px);

  .asset_link {
    @include rem(padding, 25px 0 20px);
  }
}

.asset_link {
  &:first-child {
    border-top: 1px solid $border-alt;
  }
  
  .address_code__wrapper {
    position: static;
  }

  .address_code {
    position: relative;

    .copy_code {
      @include rem(margin-top, -13px)
    }
  }

  &__title {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include rem(margin-bottom, 5px);
  }

  &__info {
    @include rem(padding-right, 15px);
  }

  &__desc {
    margin-right: 0;
    margin-left: 0;
    display: block;
  }

  &__modal {
    float: left;

    @include rem(padding-right, 15px);

    .btn--icon {
      color: rgba($secondary, .8);

      .icon {
        @include rem(font-size, 32px);
      }
    }
  }

  &__extend {
    clear: both;

    @include rem(margin-top, 15px);
    @include rem(margin-bottom, 5px);
  }

  .alert {
    margin-bottom: 0;
  }

  @media all and (min-width: $screen-landscape) and (max-width: $screen-tablet) {
    &__extend {
      .form-control {
        margin-bottom: 10px;
      }
    }
  }
}

.clear_padding_bottom {
  .content {
    padding-bottom: 0 !important;
  }

  .section:last-child {
    padding-bottom: 0 !important;
  }
}

.alert {
  .icon {
    float: left;

    @include rem(font-size, 24px);
    @include rem(margin-top, -2px);
    @include rem(margin-bottom, -2px);
    @include rem(margin-right, 10px);
  }

  &--red {
    .icon {
      .path2:before,
      .path3:before {
        color: $red;
      }
    }
  }
}

.qr_code {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.popover {
  white-space: normal;
  text-align: left;
}